/* Galeriyi yan yana dizmek için */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.photo-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.photo-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

/* Load More butonu başlangıçta gizli olmalı */
.load-more {
  display: none;
  margin: 20px auto;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 4px;
}

.search-form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
input[type='text'] {
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

/* Basit bir Loader (Yükleniyor simgesi) */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: none; /* JS ile arama sırasında 'block' yapılacak */
  animation: rotation 1s linear infinite;
}

.info {
  display: flex;
  justify-content: space-around; /* Elemanları yatayda eşit dağıtır */
  padding: 8px 4px;
  background-color: #fff;
}
.info b {
  font-weight: 600;
  font-size: 12px; /* Başlıkları biraz daha belirgin yapar */
}

.info p {
  display: flex;
  flex-direction: column; /* Başlık ve rakamı alt alta getirir */
  align-items: center; /* Ortalar */
  margin: 0;
  font-size: 17px; /* 5'li dizilimde küçük font daha iyi durur */
  color: #2e2f42;
  line-height: 1.5;
}

.info-item {
  display: flex;
  flex-direction: column; /* Yazıyı üstte, rakamı altta tutar */
  align-items: center;
  font-size: 12px;
  line-height: 1.5;
}

.info-item b {
  margin-bottom: 2px;
  color: #2e2e2e;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
